# Ambiente virtual
venv/

# Cache do Python
__pycache__/
*.py[cod]

# Banco local SQLite
db.sqlite3

# Arquivos de ambiente
.env

# Arquivos do VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db