{% extends 'edu/base.html' %}
{% load i18n %}

{% block content %}
<h2>{% translate "Livros" %}</h2>

{% if perms.edu.add_livro %}
<a href="{% url 'livro_create' %}" class="btn btn-primary mb-3">
    {% translate "Novo Livro" %}
</a>
{% endif %}

<table class="table table-bordered">
    <tr>
        <th>{% translate "ID" %}</th>
        <th>{% translate "ISBN" %}</th>
        <th>{% translate "Título" %}</th>
        <th>{% translate "Publicação" %}</th>
        <th>{% translate "Preço" %}</th>
        <th>{% translate "Estoque" %}</th>
        <th>{% translate "Editora" %}</th>
        <th>{% translate "Ações" %}</th>
    </tr>

    {% for livro in livros %}
    <tr>
        <td>{{ livro.id }}</td>
        <td>{{ livro.isbn }}</td>
        <td>{{ livro.titulo }}</td>
        <td>{{ livro.publicacao }}</td>
        <td>{{ livro.preco }}</td>
        <td>{{ livro.estoque }}</td>
        <td>{{ livro.editora.nome }}</td>
        <td>
            {% if perms.edu.change_livro %}
            <a href="{% url 'livro_update' livro.id %}" class="btn btn-warning btn-sm">
                {% translate "Editar" %}
            </a>
            {% endif %}

            {% if perms.edu.delete_livro %}
            <a href="{% url 'livro_delete' livro.id %}" class="btn btn-danger btn-sm">
                {% translate "Excluir" %}
            </a>
            {% endif %}

        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="8">Nenhum livro disponível.</td>
    </tr>
    {% endfor %}
</table>

{% if livros.has_other_pages %}
<nav aria-label="Paginação dos livros" class="d-flex justify-content-center mt-4">
    <ul class="pagination">
        {% if livros.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">Primeira</a>
        </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ livros.previous_page_number }}">Anterior</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Primeira</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">Anterior</span>
            </li>
        {% endif %}

        {% for num in livros.paginator.page_range %}
            {% if livros.number == num %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if livros.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ livros.next_page_number }}">Próximo</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ livros.paginator.num_pages }}">Última</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Próximo</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">Última</span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}